/* CSS variables */
:root {

  /* Colors */

  --title-color: #6e67d6;
  --subtitle-color: rgb(131, 131, 249);
  --text-color: #5e5e5e;
  --text-color-light: #939393;
  --sidebar-color: #d1e3ff;
  --content-color: #fafafa;
  --time-color: #888888;
  --blue: #3385ff;
  --indigo: #6610f2;
  --white: #fff;

  /* Font and typography */

  --body-font: "Noto Sans KR", sans-serif;
  --h1-font-size: 2rem;
  --h2-font-size: 1.8rem;
  --h3-font-size: 1.45rem;
  --h4-font-size: 1.2rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  --smaller-font-size: .8rem;
  --rounder-size: 1rem;
  --line-translation: 7px;

  /* Font weight */

  --font-medium: 500;
  --font-semi-bold: 600;

  /* Margin */

  --m-1: .5rem;
  --m-2: 1rem;
  --m-3: 1.5rem;
  --m-4: 2rem;
  --m-5: 3rem;
}

/* Scale CV */

body.scale-cv {
  --h1-font-size: .938rem;
  --h2-font-size: .938rem;
  --h3-font-size: .875rem;
  --h4-font-size: .8rem;
  --normal-font-size: .813rem;
  --small-font-size: .75rem;
  --small-font-size: .688rem;
  --smaller-font-size: .688rem;
  --rounder-size: .7rem;
  --m-1: .25rem;
  --m-2: .5rem;
  --m-3: .75rem;
  --m-4: 1rem;
  --m-5: 2rem;
  --line-translation: 5px;
}

.scale-cv .curriculum {
  margin: 0 auto;
  max-width: 97%;
}

.scale-cv .curriculum__content {
  width: 65%;
}

.scale-cv .curriculum__sidebar {
  width: 35%;
}

.scale-cv .printpdf {
  display: none;
}

/* General styles */

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

.subtitle {
  font-size: var(--h3-font-size);
  text-transform: uppercase;
  color: var(--subtitle-color);
}

/* Main containers */

.curriculum {
  max-width: 80%;

  margin: 50px auto;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 1);
  border-radius: 1rem;

  display: flex;
}

.curriculum__content {
  background: var(--content-color);
  width: 70%;
  border-radius: 0 1rem 1rem 0;
  padding: var(--m-4) var(--m-5);
}

.curriculum__sidebar {
  position: relative;
  background: var(--sidebar-color);
  width: 30%;
  border-radius: 1rem 0 0 1rem;
  padding: 0.5rem;
}

/* Sidebar styles */

.printpdf, .printpdf__movil {
  position: absolute;  
  width: 2.5rem;
  height: 2.5rem;
  border: 0px;
  background: inherit;
  border-radius: 7px;
  color: var(--title-color);
  cursor: pointer;
  z-index: 100;
  top: 5px;
  left: 5px;
}

.printpdf:hover, .printpdf__movil:hover {
  background: var(--subtitle-color);
  color: var(--white);
}

.printpdf > i, .printpdf__movil > i {
  color: inherit;
  font-size: var(--h4-font-size);
}

.printpdf__movil {
  display: none;
  text-align: center;
  line-height: 2.5rem;
  top: 0px;
  left: 15px;
}

.curriculum__content hr {
  height: 4px;
  background-color: rgb(80, 89, 128);
  border: 0px;
  margin-bottom: var(--m-2);
}

.curriculum__sidebar hr {
  height: 4px;
  background-color: var(--white);
  border: 0px;
  margin-bottom: var(--m-2);
}

.photo__container {
  margin: var(--m-2) auto;
  width: 50%;
}

.photo__img {
  width: 100%;
  border-radius: 50%;
}

.curriculum__name > h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--h1-font-size);  
  color: var(--title-color);
}

.aboutme,
.contact {
  margin: var(--m-5) 0.7rem;
}

.contact__link {
  margin-bottom: var(--m-1);
  border-radius: 1rem;
  padding: 5px;
  display: block;
}

.contact__link span {
  word-wrap: break-word;
}

.contact__link > i {
  color: rgb(62, 51, 134);
  width: 20px;
}

.contact__link:hover {
  color: var(--blue);
  background-color: var(--white);
}

/* Content styles */

.certificates,
.idioms,
.skills {
  margin: var(--m-5) 0;
}

.content__subtitle {
  width: fit-content;
}

.education__content {
  display: flex;
  flex-direction: column;
}

.education__li {
  display: flex;
}

.education__time {
  padding-right: 1rem;
}

.education__rounder {
  position: relative;
  display: block;
  width: var(--rounder-size);
  height: var(--rounder-size);
  background-color: var(--time-color);
  border-radius: 50%;
  margin-top: 0.25rem;
  transform: translate(0, 4px);
}

.education__line {
  display: block;
  width: 2px;
  height: 107%;
  background-color: var(--time-color);
  transform: translate(var(--line-translation), 0);
}

.education__title {
  font-size: var(--h4-font-size);
}

.education__li {
  margin-bottom: var(--m-2);
}

.education__item {
  font-size: var(--normal-font-size);
  color: var(--text-color-light);
  display: block;
  margin: var(--m-1);
}

.certificate__item {
  margin-bottom: var(--m-2);
}

.certificate__title {
  font-size: var(--h4-font-size);
  margin-bottom: 0.7rem;
}

.idioms__data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: var(--m-2);
}

.skills__data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: var(--m-2);
  gap: var(--m-1);
}

/* Responsive styles */

/* < 1300px */

@media (max-width: 1300px) {
  .curriculum {
    max-width: 90%;
  }
}

/* < 1000px */

@media (max-width: 1000px) {

  .curriculum {
    max-width: 100%;
    margin: 0;
  }

  .education__line {
    height: 103%;
  }

  .idioms__data,
  .skills__data {
    grid-template-columns: 1fr 1fr;
    margin: 1.2rem;
  }
}

/* < 700px */

@media (max-width: 700px) {
  .curriculum {
    display: block;
    margin: 0;
    padding: 1rem 0;
  }

  .printpdf {
    display: none;
  }

  .printpdf__movil {
    display: block;
  }

  .curriculum__sidebar {
    width: 100%;
    background: var(--white);
  }

  .curriculum__content {
    width: 100%;
    padding: 0 1.5rem;
  }

  .sidebar__subtitle {
    width: fit-content;
  }

  .curriculum__content hr,
  .curriculum__sidebar hr {
    height: 4px;
    width: 100%;
    background-color: rgb(80, 89, 128);
    border: 0px;
    margin-bottom: 10px;
  }

  .skills__data {
    display: flex;
    flex-wrap: wrap;
    margin: var(--m-2);
  }

  .idioms__data {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .skills__item {
    width: 7rem;
  }

  .contact__link:hover {
    color: var(--blue);
    background-color: rgb(231, 231, 231);
  }
}

/* < 500px */

@media (max-width: 500px) {
  .skills__data,
  .idioms__data {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: var(--m-2);
  }

  .idioms__item {
    width: 10rem;
  }
}
